/* Estilo geral */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6, p, span, input, button, textarea {
  font-family: 'Montserrat', sans-serif;
}
/* Estilo do dashboard */
.dashboard {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

/* Header */
.header {
  background-color: #ff6600;
  padding: 15px;
  color: white;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Menu */
.menu {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Botões do Menu */
.menu button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.menu button span {
  font-size: 0.875rem; /* Tamanho do texto ajustado */
}

.menu .icon {
  font-size: 1rem; /* Tamanho do ícone ajustado */
}

.menu button:hover {
  background-color: #ff6600; /* Cor laranja */
  color: #ffffff;
  transform: translateY(-3px); /* Leve elevação */
  box-shadow: 0 8px 15px rgba(255, 102, 0, 0.3); /* Efeito de sombra */
}

.menu button:hover .icon {
  transform: rotate(10deg); /* Pequeno efeito de rotação no ícone */
}

.menu h3 {
  margin-bottom: 15px;
  font-size: 1.5rem; /* Ajuste do tamanho da fonte do título */
  color: #ff6600; /* Cor laranja */
}

/* Conteúdo principal */
.main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.content {
  flex: 1;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Gráfico de vendas */
.chart-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Tela de pesquisa de produtos */
.product-search {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ff6600;
  border-radius: 5px;
  background-color: #ffffff;
}

.add-product-button {
  display: block;
  margin: 20px auto;
  background-color: #ff6600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.add-product-button:hover {
  background-color: #cc5200;
}
.add-product-form-container {
  max-width: 600px;
  margin: 0 auto;
}

.add-product-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  position: relative;
}

.add-product-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ff6600;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #fff5e6;
}

.input-group .input-icon {
  margin-right: 10px;
  color: #ff6600;
}

.input-group input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}

button[type="submit"] {
  display: block;
  margin-top: 20px;
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
  background-color: #e65c00;
  transform: translateY(-2px);
}

.back-button {
  display: block;
  margin-top: 10px;
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}

.product-details-container {
  max-width: 600px;
  margin: 0 auto;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}

.product-details {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
}

.product-details h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.product-details .edit-input {
  width: 100%;
  border: 1px solid #ff6600;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  transition: border-color 0.3s;
}

.product-details .edit-input:focus {
  outline: none;
  border-color: #e65c00;
}

.product-details textarea.edit-input {
  resize: vertical;
}

.product-details span,
.product-details p {
  font-size: 16px;
  color: #333;
}

.product-details strong {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ff6600;
}

.product-details button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.product-details button:hover {
  transform: translateY(-2px);
}

.product-details .bg-green-500 {
  background-color: #28a745;
}

.product-details .bg-green-500:hover {
  background-color: #218838;
}

.product-details .bg-gray-400 {
  background-color: #6c757d;
}

.product-details .bg-gray-400:hover {
  background-color: #5a6268;
}

.product-details .bg-orange-500 {
  background-color: #ff6600;
}

.product-details .bg-orange-500:hover {
  background-color: #e65c00;
}

.product-details .bg-red-500 {
  background-color: #dc3545;
}

.product-details .bg-red-500:hover {
  background-color: #c82333;
}

.product-details .edit-input[type="number"]::-webkit-outer-spin-button,
.product-details .edit-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-details .edit-input[type="number"] {
  -moz-appearance: textfield;
}
/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* Ocupa toda a altura da tela */
}

.login-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-card h2 {
  color: #ff6600;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.login-card h3 {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
/* Estilos do formulário de login */
.login-container {
  background-color: #f8f9fa;
}

.login-content {
  flex: 1; /* Ocupa toda a largura disponível */
  max-width: 1200px; /* Limite de largura */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden; /* Impede rolagem no conteúdo do login */
}


.login-form {
  padding: 2rem;
  flex: 1; /* Permite que o formulário cresça na tela */
}


.input-group label {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border: 1px solid #ff6600;
  border-radius: 8px;
  background-color: #fff5e6;
  position: relative;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}

.input-group input::placeholder {
  color: #aaa;
}

button[type="submit"] {
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e65c00;
}

.login-form p a {
  color: #ff6600;
  font-weight: bold;
}
